html,
body {
  padding: 0;
  margin: 0;
  font-family: Andale Mono, monospace;
  background-color: #071013;
  color: #dfe0e2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
